<a href="https://colab.research.google.com/github/Sudhanshugupta26/pandas_code/blob/main/pandas4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("final_data.csv",index_col=0)

In [9]:
df

,address,owners,housetype,house_condition,BHK,price,per_month_emi,total_sqft,cordinates,latitude,longitude
0,"Sheetal Vihar, Bhagwant Nagar, Dr.Homi Bhabha ...",Mahendra Kotwal,Apartment,old,3.0,75.00,39.72,1550.0,Sheetal Vihar,19.987960,73.787390
1,"Samraat Dream Citi, Samta Nagar, Nashik",Jiten Dadarkar,Apartment,old,2.0,41.00,21.71,1000.0,Samraat Dream Citi,19.982460,73.811840
2,"Suryaprakash Apartment,Nashik Road, Nashik",Pankaj,Apartment,old,2.0,53.35,28.25,970.0,Surya Prakash,19.975850,73.788750
3,"Adishvar Residency,Nashik Road, Nashik",Saurav,Apartment,old,2.0,55.00,29.13,1000.0,"Nashik Road, Vadner Dumala, Nashik, Maharashtr...",19.930532,73.811734
4,"Nashik Road, Nashik",Vivek Pavanaskar,Apartment,old,2.0,27.00,14.30,853.0,"Nashik Road, Nashik, Maharashtra",19.955310,73.840890
...,...,...,...,...,...,...,...,...,...,...,...
5491,"Prashant Nagar, Pathardi Phata,Nashik",Datta Kale,Independent house,old,4.0,92.25,45.80,NaN,"Prashant Nagar, Pathardi Phata, Nashik, Mahara...",19.951040,73.756990
5492,"Vasantdadanagar, Adgaon,Nashik",Geeta Buildcon,Independent house,old,2.0,NaN,NaN,NaN,"Vasantdada Nagar, Adgaon, Nashik, Maharashtra",20.031780,73.855100
5493,"Samarth Nagar, Makhmalabad,Nashik",Atharvashree Buildmat Private Limited,Independent house,old,2.0,34.32,18.17,NaN,"Samarth Nagar, Makhamalabad, Nashik, Maharashtra",20.049050,73.796960
5494,"Bhor Town Ship, Nashik",Shree Prakash Developers,Independent house,old,NaN,NaN,NaN,NaN,"Town Ship Colony, Panchavati, Nashik, Maharashtra",20.027090,73.821100
5495,"Chandshi, Nashik",Nirman Group,Independent house,old,NaN,NaN,NaN,NaN,"Chandshi, Nashik Sub-District, Nashik, Maharas...",20.038750,73.750250